<h2>Upload your CV</h2>
<form method="post" enctype="multipart/form-data">
	<input type="file" name="cv_file" accept="application/pdf" required>
	<button class="btn btn-primary mt-2" type="submit">Upload</button>
</form>

{% if cv %}
	<hr>
	<h3>Current CV</h3>
	<embed src="{{ asset('uploads/cvs/' ~ cv.filePath) }}" type="application/pdf" width="100%" height="600px"/>
{% endif %}
